    <section class="services-content">
        <div class="services-section1">
            <h1 class="tittle-services about">Who We Are</h1>
            <img class="paw-in-hand" src="./images/paw-in-hand_68862.jpg" alt="" />
        </div>

    </section>

    <section>
        <div class="icons-container">
            <div class="icons">
                <h2>Core Values</h2>
                <div class="icon-item">
                    <img src="./images/svg/people-nearby-svgrepo-com.svg" alt="" />
                    <p>Open</p>
                </div>
        
                <div class="icon-item">
                    <img src="./images/svg/stats-svgrepo-com.svg" alt="" />
                    <p>Driven</p>
                </div>
        
                <div class="icon-item">
                    <img src="./images/svg/dialogue-conversation-bubble-svgrepo-com.svg" alt="" />
                    <p>Educator's Spirit</p>
                </div>
            </div>
        
            <div class="icons">
                <h2>Strategic Anchors</h2>
                <div class="icon-item">
                    <img src="./images/svg/paw-outline-svgrepo-com.svg" alt="" />
                    <p>Save Lives</p>
                </div>
        
                <div class="icon-item">
                    <img src="./images/svg/news-paper-svgrepo-com.svg" alt="" />
                    <p>Inspire Learning</p>
                </div>
        
                <div class="icon-item">
                    <img src="./images/svg/dog-duotone-svgrepo-com.svg" alt="" />
                    <p>Connect Hearts</p>
                </div>
            </div>
        </div>

    </section>