    <section>
        <div class="container-video">
            <video id="video" autoplay muted loop>
                <source src="images/202312072139.mp4" type="video/mp4" />
            </video>
            <div class="texto-superpuesto">
                <h1 clas="text-principal">Become a <span class="span-video">Lifesaver</span></h1>
                <p class="text-p">Rescue your next pet</p>
                <a href="adopt.html" class="btn-video">Adopt Now</a>
            </div>
        </div>


    </section>

    <footer class="footer">
        <p>Copyright &copy; 2023 Animal Foundation. All Rights Reserved.</p>
    </footer>