<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav class="nav-bar">
    <ul>
      <li><a href="/adopt">Adopt</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/getinvolved">Get involved</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>

  {{{body}}}
</body>

</html>